# Python API Service
apiVersion: v1
kind: Service
metadata:
  name: python-api
  namespace: otel-apps
  labels:
    app: python-api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: python-api
